<body>
	<div class="container-sub text-center text-dark pt-2 pb-3">
		<h1 class="pt-3">新規投稿</h1>
		<div>
			<%= render 'form' %>
		</div>
		<div>
		<%= link_to '戻る', articles_path, class: "btn btn-secondary" %>
		<div>
	</div>
</body>