<body>
	<div class="container-sub text-center text-dark bg-info">
		<h1 class="pt-3">新規投稿</h1>
		<div>
			<%= render 'form' %>
		</div>
		<div class="position-relative">
		<%= link_to '戻る', articles_path %>
		<div>
	</div>
</body>