<div>
                    <% if Like.find_by(user_id: @current_user.id, article_id: @articles.id) %>
                    <%= link_to("/likes/#{article.id}/destroy", {method: "post"}, remote: true) do %>
                      <i class="fas fa-heart liked-icon"></i>
                    <% end %>
                  <% else %>
                    <%= link_to("/likes/#{article.id}/create", {method: "post"}, remote: true) do %>
                      <span class="far fa-heart like-icon"></span>
                    <% end %>
                  <% end %>
                  (<%= Like.where(article_id: article.id).count %>)
</div>