<div class="col-xs-12 col-md-12 col-lg-12 container m-0 p-0">
	<h1 class="text-center text-light font-weight-bold display-2 pt-4">Welcome to my blog!</h1>
</div>
<p class="text-center">©Hiroki Anzai</p>