<div class="text-center col-xs-12 col-md-12 col-lg-12 container m-0 p-0">
	<h1 class="text-center text-light font-weight-bold shadow-sm display-3 pt-4 display-block mb-5">Share your own story!</h1>

	<%if session[:user_id]== nil %>
		<%= link_to("/login") do %>
			<div>
				<button class="display-block d-sm-none btn-lg btn-success mt-5 mb-2">ログイン</button>
			</div>
		<% end %>
		<%= link_to("/signup") do %>
		<div>
			<button class="display-block d-sm-none btn-lg btn-primary mt-2">新規登録</button>
		</div>
		<% end %>
	<% end %>
</div>
<p class="text-center">©Hiroki Anzai</p>