// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.nodecoration {
  text-decoration: none !important
}
.container {
	background-image: url("/main-bg.jpg");
	background-size: cover;
	width: 100%;
    height: 600px;
}
.container-sub{
	background-image: url("/sub-bg.jpg");
	background-size: cover;
	width: 100%;
    height: 1000px;
}

#logo{
	width:150px;
	height:auto;
}

.navbar-default .navbar-toggle .icon-bar {
    background: #808080;
}

.liked-icon{
	color:red;
}

.like-icon{
	color:black;
}
.user-image{
	width:50px;
	height:50px;
	border-radius: 50%;
	border: 1px solid gray;
	object-fit: cover;
}
button#ios {
    cursor: pointer;
}